In [1]:
# 4 Pillars of OOP
1.Abstraction: hide unecessary details from the users
2.Encaptulation:binding data
3.Inheritance: can access the methods of another class
4.Polymorphism: same function different work

SyntaxError: invalid decimal literal (747356839.py, line 2)

In [2]:
#Create a new object type called Sample

In [3]:
class Sample:
    pass
#insatnce of Sample
x=Sample()

In [4]:
print(type(x))

<class '__main__.Sample'>

In [ ]:
#Class Constrructor
__init__()

In [5]:
class Person:
    def __init__(self,name):  #parameterized Constructor
        self.name=name

In [6]:
p=Person('Shristi')

In [7]:
print(p.name)

Shristi

In [8]:
print(p)

<__main__.Person object at 0x0000023BFBA0C830>

In [ ]:
#two types of constructor
Parameterized, Non-Parameterized

In [12]:
class Fruit:
    #parameterized 
    def __intg__(self,name,color):
        print("This is parameterized constructor")
        self.name=name
        self.color=color
    def show(self):
        print("Fruit is", self.name, "and Color is", self.color)
obj=Fruit("Apple","red")

In [14]:
#Attributes

In [20]:
class Dog:
    def __init__(self,breed):
        self.breed=breed

In [23]:
sam=Dog(breed='Lab')

In [24]:
frank=Dog(breed='Huskie')

In [25]:
print(sam.breed)

Lab

In [26]:
print(frank.breed)

Huskie

In [38]:
class Dog:
    species = "Canis familiaris"
    def __init__(self,name,age):
        self.name=name
        self.age=age

In [41]:
Dog()
buddy=Dog("Buddy",9)
miles=Dog("Miles",4)
buddy.species

TypeError: Dog.__init__() missing 2 required positional arguments: 'name' and 'age'

In [40]:
buddy.age=10
buddy.age
miles.species="Felis silvestris"
miles.species

NameError: name 'buddy' is not defined

In [ ]:
class Dog:
    species="Canis familiaris"
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def description(self):
        return f"{self.name} is {self.age} years old"

    def speak(self,sound):
        return f"{self.name} says {sound}"

In [42]:
#self similar to this

In [48]:
class Person:
    def __init__(self,firstname,lastname,age,country,city):
        self.firstname=firstname
        self.lastname=lastname
        self.age=age
        self.country=country
        self.city=city
    def person_info(self):
        return f"{self.firstname} {self.lastname} is {self.age} years old. She lives in {self.city}, {self.country}"

In [49]:
p=Person('Shristi','Pokhrel',23,'Nepal','Ktm')

In [50]:
print(p.person_info())

Shristi Pokhrel is 23 years old. She lives in Ktm, Nepal

In [1]:
#Modifying Class Default Values

In [3]:
class Person:
    def __init__(self, firstname='uttam', lastname='Pradhan',age=32,country='England',city='London'):
        self.firstname= firstname
        self.lastname=lastname
        self.age=age
        self.country=country
        self.city=city
        self.skills=[]
    def person_info(self):
        return f'{self.firstname} {self.lastname} is {self.age} years old. He lives in {self.city}, {self.country}'
    def add_skills(self,skill):
        self.skills.append(skill)

In [18]:
p1=Person()

print(p1.person_info())

In [17]:
p1.add_skills('Python')

In [9]:
p1.add_skills('Matlab')

In [10]:
p1.add_skills('R')

In [11]:
p2= Person('Ben','Doe',30,'Finland','Tampere')

In [12]:
print(p2.person_info())

Ben Doe is 30 years old. Hhe lives in Tampere, Finland

In [13]:
print(p1.skills)

['Python', 'Matlab', 'R']

In [14]:
print(p2.skills)

[]

In [19]:
#Operator Overloading

In [20]:
class Point:
    def __init__(self,x=0,y=0):
        self.x=x
        self.y=y

In [21]:
p1=Point(1,2)

In [22]:
p2=Point(2,3)

In [23]:
print(p1+p2)

TypeError: unsupported operand type(s) for +: 'Point' and 'Point'

In [25]:
class Book:
    def __init__(self,pages):
        self.pages=pages

    def __add__(self,other):
        return self.pages + other.pages

In [26]:
b1=Book(150)

In [27]:
b2=Book(100)

In [28]:
print("total number of pages:", b1 +b2)

total number of pages: 250

In [29]:
#Overloading + Operator

In [31]:
class Point:
    def __init__(self,x=0,y=0):
        self.x=x
        self.y=y
    def __str__(self):
        return"({0},{1})".format(self.x,self.y)
    def __add__(self,other):
        x=self.x+other.x
        y=self.y+other.y
        return Point(x,y)

In [32]:
p1=Point(1,2)

In [33]:
p2=Point(2,3)

In [34]:
print(p1+p2)

(3,5)

In [35]:
class Point:
    def __init__(self,x=0,y=0):
        self.x=x
        self.y=y
    def __str__(self):
        return"({0},{1})".format(self.x,self.y)
    def __lt__(self,other):
        self_mag=(self.x**2)+(self.y**2)
        other_mag=(other.x**2)+(other.y**2)
        return self_mag<other_mag

In [36]:
p1=Point(1,1)

In [37]:
p2=Point(-2,-2)

In [38]:
p3=Point(1,-1)

In [39]:
print(p1<p2)

True

In [40]:
print(p2<p3)

False

In [41]:
print(p1<p3)

False

In [42]:
#Inheritance

In [43]:
class Vehicle:
    def Vehicle_info(self):
        print("Inside Vehicle Class")

In [44]:
class Car(Vehicle):
    def car_info(self):
        print("Inside Car Class")

In [45]:
car = Car()

In [46]:
car.Vehicle_info()

Inside Vehicle Class

In [47]:
car.car_info()

Inside Car Class

In [49]:
class Person:
    """This is a Person Class with data"""
    species="human"
    def __init__(self,name,age,address):
        self.name=name
        self.age=age
        self.address=address
    def info(self):
        print(f"name:{self.name}")
        print(f"age:{self.age}")
        print(f"address:{self.address}")
    def eat(self):
        pass
    def walk(self):
        pass

In [50]:
person=Person('ramesh',32,'sdds')

In [51]:
person.info()

name:ramesh
age:32
address:sdds

In [52]:
class Student(Person):
    def __init__(self,name,age,address,qualification,college):
        super().__init__(name,age,address)
        self.qualification=qualification
        self.college=college
    def info(self):
        super().info()
        print(f"qualification: {self.qualification}")
        print(f"college:{self.college}")
    def learn(self):
        pass
    def write(self):
        pass
    def play(self):
        pass

In [53]:
std= Student('ramesh',32,'ktm','bachelor','NCIT')

In [54]:
std.info()

name:ramesh
age:32
address:ktm
qualification: bachelor
college:NCIT

In [1]:
#Overloading Comparison Operators

In [5]:
class Point:
    def __init__(self,x=0,y=0):
        self.x=x
        self.y=y
    def __str__(self):
        return"({0},{1})".format(self.x,self.y)
    def __lt__(self,other):
         self_mag= (self.x** 2) + (self.y ** 2)
         other_mag= (other.x** 2) + (other.y ** 2)
         return self_mag< other_mag

In [6]:
p1=Point(1,1)

In [7]:
p2=Point(-2,-3)

In [8]:
p3=Point(1,-1)

In [9]:
print(p1<p2)

True

In [10]:
print(p2<p3)

False

In [11]:
print(p1<p3)

False

In [14]:
#Inheritence
#Single Inheritance

In [16]:
class Vehicle:
 def Vehicle_info(self):
     print('Inside Vehicle class')

In [19]:
 # Child class
class Car(Vehicle):
    def car_info(self):
     print('Inside Car class')

In [20]:
 car = Car()

In [21]:
car.Vehicle_info()

Inside Vehicle class

In [22]:
car.car_info()

Inside Car class

In [23]:
class Animal:
 def __init__(self):
     print("Animal created")
 def whoAmI(self):
     print("Animal")
 def eat(self):
     print("Eating")
class Dog(Animal):
 def __init__(self):
     Animal.__init__(self)
     print("Dog created")
 def whoAmI(self):
     print("Dog")
 def bark(self):
     print("Woof!")

In [24]:
d=Dog()

Animal created
Dog created

In [26]:
d.whoAmI()

Dog

In [27]:
d.eat()

Eating

In [28]:
d.bark()

Woof!

In [33]:
class Person:
    """This is person class with data"""
    species = "human"
    def __init__(self, name, age, address): # double underscore / dunder / special method / constructor
        self.name = name
        self.age = age
        self.address = address
    def info(self):
        print(f"name: {self.name}")
        print(f"age: {self.age}")
        print(f"address: {self.address}")
    def eat(self):
        pass
    def walk(self):
        pass

In [34]:
person = Person('ramesh', 32, 'sdafdas')

In [35]:
person.info()

name: ramesh
age: 32
address: sdafdas

In [36]:
class Student(Person):
    def __init__(self, name, age, address, qualification, college):
        super().__init__(name, age, address)
        self.qualification = qualification
        self.college = college
    def info(self):
        super().info()
        print(f"qualification: {self.qualification}")
        print(f"college: {self.college}")
    def learn(self):
        pass
    def write(self):
        pass
    def play(self):
        pass

In [37]:
std = Student('ramesh', 32, 'ktm', 'bachelor', 'NCIT')

In [38]:
std.info()

name: ramesh
age: 32
address: ktm
qualification: bachelor
college: NCIT

In [39]:
#Multilevel Inheritance

In [40]:
 # Base class 1
class Person:
    def person_info(self, name, age):
        print('Inside Person class')
        print('Name:', name, 'Age:', age)

In [41]:
 # Base class 2
class Company:
    def company_info(self, company_name, location):
        print('Inside Company class')
        print('Name:', company_name, 'location:', location)

In [42]:
# Derived class
class Employee(Person, Company): # multiple inheritence
    def employee_info(self, salary, skill):
        print('Inside Employee class')
        print('Salary:', salary, 'Skill:', skill)

In [43]:
emp= Employee()

In [44]:
 emp.person_info('Ramesh', 33)

Inside Person class
Name: Ramesh Age: 33

In [45]:
emp.company_info('Google', 'Atlanta')

Inside Company class
Name: Google location: Atlanta

In [46]:
emp.employee_info(19000, 'Machine Learning')

Inside Employee class
Salary: 19000 Skill: Machine Learning

In [47]:
#super() function

In [48]:
class Company:
    def company_name(self):
        return 'Google'

In [49]:
class Employee(Company):
    def info(self):
 # Calling the superclass method using super()function
        c_name = super().company_name()
        print("Arthur works at", c_name)

In [50]:
 # Creating object of child class
emp= Employee()

In [51]:
emp.info()

Arthur works at Google