In [22]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\python313\mit\venv\lib\site-packages (25.1.1)
Note: you may need to restart the kernel to use updated packages.

In [25]:
import pandas as pd

In [26]:
df=pd.read_csv('./test.csv')

In [27]:
print(df)

    a   b   c   d message
0   1   2   3   4   hello
1   5   6   7   8   world
2   9  10  11  12     foo

In [30]:
pd.read_table('./test.csv',sep=',')

    a   b   c   d message
0   1   2   3   4   hello
1   5   6   7   8   world
2   9  10  11  12     foo

pd.read_csv('./test.csv',header=None)

In [31]:
pd.read_csv('./test.csv',header=None)

    0   1   2   3        4
0   a   b   c   d  message
1   1   2   3   4    hello
2   5   6   7   8    world
3   9  10  11  12      foo

In [32]:
pd.read_csv('./test.csv',names=['a','b','c','d','message'])

    a   b   c   d  message
0   a   b   c   d  message
1   1   2   3   4    hello
2   5   6   7   8    world
3   9  10  11  12      foo

In [34]:
names=['a','b','c','d','message']

In [35]:
pd.read_csv('./test.csv',names=names,index_col='message')

          a   b   c   d
message
message   a   b   c   d
hello     1   2   3   4
world     5   6   7   8
foo       9  10  11  12

In [36]:
df=pd.read_csv('./test.csv')

In [38]:
df.to_csv('./test2.csv')

In [40]:
import sys

In [41]:
df.to_csv(sys.stdout,sep='|')

| a|b|c|d|message
0|1|2|3|4|hello
1|5|6|7|8|world
2|9|10|11|12|foo

In [42]:
df.to_csv(sys.stdout,na_rep='NULL')

, a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [43]:
df.to_csv(sys.stdout, index=False, header=False)

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [45]:
df.to_csv(sys.stdout, index=False, cols=['a','b','c'])

TypeError: NDFrame.to_csv() got an unexpected keyword argument 'cols'

In [46]:
dates= pd.date_range('1/1/2000', periods=7)

In [49]:
import numpy as np

In [55]:
s=pd.Series(np.arange(7), index=dates)

In [57]:
s.to_csv('./test2.csv')